#TableBase, #TableBase td, #TableBase tr, #TableBase th {
    border: 1px solid black;
}

#TableBase {
    background-color: antiquewhite;
    margin-left: 10px;
    margin-right: auto;
}

#paging_buttons {
    margin-left: 10px;
}